
body {
    /* default layout */
    margin: 0% 15% 10% 15%;
    font-size: 1.5em;
}
@media screen and (max-width: 420px) {
    body {
        /* for small smart devices */
        margin: 0% 8% 5% 8%;
        font-size: 1.0em;
    }
}

@keyframes fadein {
    from { opacity: 0; /* margin-left: 10%; */ }
    to   { opacity: 1; /* margin-left: 0%; */ }
}

@keyframes fadeout {
    from { opacity: 1; /* margin-left: 0%; */ }
    to   { opacity: 0; /* margin-left: -10%; */ }
}


#Menu-Button {
    position: absolute;
    right: 2%;
    top: 2%;
    color: var(--main-highlight-color);
    float: right;
    font-size: 1em;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


body {
    color: var(--main-text-color);
    font-family: var(--main-text-font);
    background-color: var(--main-bg-color);
    height: 100%;
    min-height: 100%;
}


p::first-line {
    text-indent: 1em;
}


#Page-header {
    padding: 10px;
    margin: 0% 0% 5% 0%;
    left:0;
    right:0;
    text-align: center;
    position: absolute;
    font-size: 0.75em;
    font-style: italic;
    text-decoration-line: underline;
}


#Page-top {
    border: 0;
    height: 0;
    right: 15%;
    top: 5%;
    left: 15%;
    border-bottom: 1px solid var(--main-highlight-color);
}


#Page-hr {
    border: 0;
    height: 0;
    right: 15%;
    left: 15%;
    margin-top: 20%;
    border-bottom: 1px solid var(--main-highlight-color);
}


#Page-bottom {
    position: absolute;
    right: 15%;
    bottom: 5%;
    left: 15%;
    border: 0;
    height: 0;
    border-bottom: 1px solid var(--main-highlight-color);
}


.drop {
	color: var(--main-highlight-color);
	font-family: var(--main-accent-font);
	font-size: 3em;
    float: left;
    line-height: 1;
    margin-right: 0.05em;
    margin-top: -0.1em;
}

.emphasis {
    font-family: var(--main-emphasis-font);
    font-size: 1.1em;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
}

.actionButton {
    color: var(--main-highlight-color);
    font-size: 2em;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


#Readout {
    margin-top: 8%;
}


#Next-Button {
    color: var(--main-highlight-color);
    float: right;
    font-size: 3em;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

h2 { color: var(--main-highlight-color); color: var(--main-accent-font); font-weight: normal; }
h3 { font-family: var(--main-text-font); font-weight: normal; }
a { color: var(--main-highlight-color); text-decoration: none; }
a:hover { color: var(--main-highlight-color); text-decoration: underline; }
