:root {
    --main-highlight-color: #1273b4;
    --main-text-color: #000000;
    --main-bg-color: #f8f8f8;
}

body {
    /* default layout */
    margin: 8% 15% 10% 15%;
    font-size: 1.5em;
}
@media screen and (max-width: 420px) {
    body {
        /* for small smart devices */
        margin: 8% 8% 5% 8%;
        font-size: 1.0em;
    }
}

@keyframes fadein {
    from { opacity: 0; /* margin-left: 10%; */ }
    to   { opacity: 1; /* margin-left: 0%; */ }
}

@keyframes fadeout {
    from { opacity: 1; /* margin-left: 0%; */ }
    to   { opacity: 0; /* margin-left: -10%; */ }
}


#Mmnu-Button {
    position: absolute;
    right: 2%;
    top: 2%;
    color: var(--main-highlight-color);
    float: right;
    font-size: 1em;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


body {
    color: var(--main-text-color);
    font-family: Georgia, serif;
    background-color: var(--main-bg-color);
}


p::first-line {
    text-indent: 1em;
}


.drop {
	color: var(--main-highlight-color);
	font-family: Arial, Helvetica, sans-serif;
	float: bottom;
    font-size: 3em;
    line-height: 0.5em;
}

.emphasis {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
}

.actionButton {
    color: var(--main-highlight-color);
    font-size: 2em;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#Menu-Button {
    border: none;
    color: var(--main-highlight-color);
    display: block;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    right: 1%;
    top: 1%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#Next-Button {
    color: var(--main-highlight-color);
    float: right;
    font-size: 3em;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

h2 { color: var(--main-highlight-color); font-family: Arial, Helvetica, sans-serif; font-weight: normal; }
h3 { font-family: Georgia, serif; font-weight: normal; }
a { color: var(--main-highlight-color); text-decoration: none; }
a:hover { color: var(--main-highlight-color); text-decoration: underline; }
